<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/polls.css" />
<%- include('../partials/pollfiles-nav.ejs') %>

<main>
    <h1>This is the Pollfile/index view</h1>
</main>
<div class="pollfile-side-bar">
    <a href="/pollfiles" class="to-the-bottom">• to the bottom</a>
    
</div>

<%- include('../partials/footer.ejs') %>
