html {
    box-sizing: border-box;
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after {
    /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default but can be overridden as needed */
    box-sizing: inherit;
  }
  
  body {
    background-color: #e9a2ad;
    color: #293845;
    /* Use a system font, if none are available use any found sans-sarif font */
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
      'Helvetica Neue', sans-serif;
    margin: 0;
  }
  
  nav {
    background-color: #f6f6f6;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 60px;
  }

h2 {
  text-align: center;
}

h4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}

img {
  position: absolute;
  left: 125px;
  top: 9px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

  .pollfile-link {
    position: absolute;
    right: 1%;
    font-size: 130%;
    font-weight: 600;
    text-decoration: none;
    background-color: #e9a2ad;
    padding: 8px 12px;
    border-radius: 5px;
    color: #293845;
  }

.create-poll-link {
  position: absolute;
  left: 46%;
  top: 9px;
  font-size: 130%;
  font-weight: 600;
  text-decoration: none;
  background-color: #e9a2ad;
  padding: 8px 12px;
  border-radius: 5px;
  color: #293845;
}

  .polls-link {
    position: absolute;
    right: 1%;
    font-size: 130%;
    font-weight: 600;
    text-decoration: none;
    background-color: #e9a2ad;
    padding: 8px 12px;
    border-radius: 5px;
    color: #293845;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .g_id_signin {
    position: absolute;
  }
  
  .right {
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
  }
  
a[href="/auth/logout"] {
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 9px;
}
  
button[type="submit"] {
    position: absolute;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    left: 0;
    top: 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

#add-poll-button, #save-poll-button {
  position: relative;
  left: 350px;
  top: 0px;
  background-color: #fdf3d3;
  color: #293845;
  font-size: 130%;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 35px;
}

form[id^="delete-form-"] {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
  left: 0%;
  width: 99%;
  top: 0;
  background-color: rgba(44, 161, 20, 0);
  margin: 0;
  padding: 0 -50px;
}

button[id^="delete-button"] {
  position: relative;
  background-color: #e9a2ad;
  color: #293845;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  bottom: 200px;
  top: 5px;
  right: 0%; /* align the button with the right edge of the container */
  width: 15%;
  overflow-x: visible;
  margin: 0;
  padding: 0px;
  font-size: 100%;
  font-weight: 600;
}

div {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.new-label {
  flex-basis: 120px;
  text-align: right;
  margin-right: 10px;
}

textarea {
  display: block;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  background-color: #fdf3d3;
  border-style: solid;
  border-color: #293845;
  border-width: 3px;
  overflow-y: auto;
}

.textarea[contenteditable]:empty::before {
  content: "Text Here";
  color: gray;
}

#new-form {
  position: relative;
  top: 50px;
  right: 50px;
}

.pollfile-side-bar {
  height: calc(100% - 60px); /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar 160px default*/
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 60px; /* Stay at the top */
  left: 0;
  background-color: #fdf3d3; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
}

.sidebar {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: flex;
}

.sidebar:hover {
  color: #e9a2ad;
}

#create-poll {
  position: absolute;
  top: 150px;
  left: 0px;
}

#to-the-top {
  position: absolute;
  bottom: 0;
}

#to-the-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.radio {
  position: relative;
  top: 35px;
  left: 30px
}

.poll-on-index-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  background-color: rgba(44, 161, 20, 0);
  object-fit: contain;
}

.poll-on-profile-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  background-color: rgba(44, 161, 20, 0);
  object-fit: contain;
}

.poll-on-index-page-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  width: 50%;
  background-color: #fdf3d3;
  border-style: solid;
  border-color: #293845;
  border-width: 3px;
  text-align: left;
}

.poll-question-content {
  max-width: 87%;
  margin-bottom: 30px;
  margin-left: 7%;
  margin-top: 30px;
  word-wrap: break-word;
  text-align: start;
}

.answer1 {
  max-width: 87%;
  margin-bottom: 10px;
  margin-left: 30px;
  word-wrap: break-word;
  text-align: start;
}

.answer2 {
  max-width: 87%;
  margin-bottom: 10px;
  margin-left: 30px;
  word-wrap: break-word;
  text-align: start;
}

.answer3 {
  max-width: 87%;
  margin-bottom: 10px;
  margin-left: 30px;
  word-wrap: break-word;
  text-align: start;
}

.answer4 {
  max-width: 87%;
  margin-bottom: 30px;
  margin-left: 30px;
  object-fit: contain;
  word-wrap: break-word;
  text-align: start;
}

span {
  font-weight: bolder;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar {font-size: 18px;}
}