html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: #e9a2ad;
  color: #293845;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif;
  margin: 0;
}
  
nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

h2 {
  text-align: center;
}

h4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}

img {
  position: absolute;
  left: 125px;
  top: 9px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.profile-link {
  position: absolute;
  right: 1%;
  font-size: 130%;
  font-weight: 600;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.50);
  transition: 0.2s all;
  text-decoration: none;
  background-color: #e9a2ad;
  padding: 8px 12px;
  border-radius: 5px;
  color: #293845;
}

.polls-link-create-page {
  position: absolute;
  right: 8%;
  top: 10px;
  font-size: 130%;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.50);
  transition: 0.2s all;
  font-weight: 600;
  text-decoration: none;
  background-color: #e9a2ad;
  padding: 8px 12px;
  border-radius: 5px;
  color: #293845;
}

.create-poll-link {
  position: absolute;
  left: 46%;
  top: 9px;
  font-size: 130%;
  font-weight: 600;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.50);
  transition: 0.2s all;
  text-decoration: none;
  background-color: #e9a2ad;
  padding: 8px 12px;
  border-radius: 5px;
  color: #293845;
}

.edit-poll-link{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: center;
  justify-items: center;
  align-self: center;
  align-content: center;
  bottom: 25px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.50);
  transition: 0.2s all;
  font-size: 100%;
  font-weight: 600;
  text-decoration: none;
  background-color: #e9a2ad;
  padding: 8px 12px;
  border-radius: 5px;
  color: #293845;
}

.polls-link {
  position: absolute;
  right: 1%;
  font-size: 130%;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.50);
  transition: 0.2s all;
  background-color: #e9a2ad;
  padding: 8px 12px;
  border-radius: 5px;
  color: #293845;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.g_id_signin {
  position: absolute;
}

.right {
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}

a[href="/auth/logout"] {
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 9px;
}

button[type="submit"] {
  position: absolute;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  left: 0;
  top: 0;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.50);
  transition: 0.2s all;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#submit-poll-answer {
  position: relative;
  background-color: #e9a2ad;
  color: #293845;
  font-size: 100%;
  display: block;
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 600;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.50);
  transition: 0.2s all;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
}

#submit-poll-button-div {
  display: flex; 
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  margin-bottom: 5px;
  flex-direction: column;
  align-items: center;
}

#index-polls-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
}

#add-poll-button, #save-poll-button {
  position: relative;
  left: 407px;
  top: 0px;
  background-color: #fdf3d3;
  color: #293845;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.50);
  transition: 0.2s all;
  font-size: 130%;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 35px;
}

#add-poll-button:active,  #save-poll-button:active,
button[id^="delete-button"]:active, button[type="submit"],
#submit-poll-answer:active, .edit-poll-link:active,
.profile-link:active, .polls-link-create-page:active,
.create-poll-link:active, .polls-link:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

form[id^="delete-form-"] {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
  left: 0%;
  width: 99%;
  top: 8px;
  background-color: rgba(44, 161, 20, 0);
  margin: 0;
  padding: 0 -50px;
}

button[id^="delete-button"] {
  position: relative;
  background-color: #e9a2ad;
  color: #293845;
  display: flex;
  justify-content: end;
  align-items: end;
  align-self: end;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.50);
  transition: 0.2s all;
  align-content: end;
  justify-items: end;
  justify-self: end;
  font-size: small;
  padding: 7px 14px;
  font-weight: 600;
}

div {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.new-label {
  flex-basis: 120px;
  text-align: right;
  margin-right: 10px;
}

textarea {
  display: block;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  background-color: #fdf3d3;
  border-style: solid;
  border-color: #293845;
  border-width: 3px;
  overflow-y: auto;
  font-size: large;
}

.textarea[contenteditable]:empty::before {
  content: "Text Here";
  color: gray;
}

#new-form {
  position: relative;
  top: 50px;
  right: 50px;
}

.profile-side-bar {
  height: calc(100% - 60px);
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: #fdf3d3;
  overflow-x: hidden;
  padding-top: 20px;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
}

.sidebar {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: flex;
}

.sidebar:hover {
  color: #e9a2ad;
}

#create-poll {
  position: absolute;
  top: 150px;
  left: 0px;
}

#to-the-top {
  position: absolute;
  bottom: 0;
}

#to-the-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.radio {
  appearance: none;
  border-radius: 50%;
  position: relative;
  width: 14px;
  height: 14px;
  border: 2px solid #293845;
  transition: 0.2s all linear;
  display: flex;
  justify-content: start;
  justify-self: start;
  justify-items: start;
  align-items: start;
  align-self: start;
  top: 35.5px;
  left: 30px
}

.radio:checked {
  border: 5px solid #293845;
}


.poll-on-index-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  background-color: rgba(44, 161, 20, 0);
  object-fit: contain;
}

.poll-on-profile-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  background-color: rgba(44, 161, 20, 0);
  object-fit: contain;
}

.poll-on-index-page-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  background-color: #fdf3d3;
  border-style: solid;
  border-color: #293845;
  border-width: 3px;
  text-align: left;
  margin-bottom: 60px;
}

.poll-on-index-page-content-answered {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  background-color: #c4bb9d;
  border-style: solid;
  border-color: #293845;
  border-width: 3px;
  text-align: left;
}

.poll-question-content {
  max-width: 87%;
  margin-bottom: 50px;
  margin-left: 7%;
  margin-top: 50px;
  word-wrap: break-word;
  text-align: start;
}

.total-votes-p-tag {
}

.answer1 {
  max-width: 87%;
  margin-bottom: 10px;
  margin-left: 30px;
  word-wrap: break-word;
  text-align: start;
}

.answer2 {
  max-width: 87%;
  margin-bottom: 10px;
  margin-left: 30px;
  word-wrap: break-word;
  text-align: start;
}

.answer3 {
  max-width: 87%;
  margin-bottom: 10px;
  margin-left: 30px;
  word-wrap: break-word;
  text-align: start;
}

.answer4 {
  max-width: 87%;
  margin-bottom: 30px;
  margin-left: 30px;
  object-fit: contain;
  word-wrap: break-word;
  text-align: start;
}

.num-people-answered {
  display: flex;
  text-align: start;
  max-width: 87%;
  margin-bottom: 50px;
  margin-left: 60px;
  object-fit: contain;
  word-wrap: break-word;
}

.created-by-p-tag {
  position: relative;
  display: flex;
  justify-content: start;
  justify-self: start;
  justify-items: start;
  align-items: start;
  align-self: start;
  align-content: start;
  font-weight: 600;
  margin: 0px;
  left: 2px;
  bottom: 1px;
}

span {
  font-weight: bolder;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar {font-size: 18px;}
}