<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/polls.css" />
<%- include('../partials/nav.ejs') %>

<main>
    <h1>This is the Poll/index view</h1>
</main>

<%- include('../partials/footer.ejs') %>
