<%- include('../partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/polls.css" />
<%- include('../partials/polls-nav.ejs') %>


<main>
    <h1><%= title %></h1>
    <form id="new-form" action="/polls" method="POST">
      <div>
        <label for="question-input">Question:</label>
        <span id="question-input" class="textarea" name="question" role="textbox" contenteditable></span>
      </div>
      <div>
        <label for="answer1-input">Answer 1:</label>
        <span id="answer1-input" class="textarea" name="answer1" role="textbox" contenteditable></span>
      </div>
      <div>
        <label for="answer2-input">Answer 2:</label>
        <span id="answer2-input" class="textarea" name="answer2" role="textbox" contenteditable></span>
      </div>
      <div>
        <label for="answer3-input">Answer 3:</label>
        <span id="answer3-input" class="textarea" name="answer3" role="textbox" contenteditable></span>
      </div>
      <div>
        <label for="answer4-input">Answer 4:</label>
        <span id="answer4-input" class="textarea" name="answer4" role="textbox" contenteditable></span>
      </div>
      <button type="submit" id="add-poll-button">Add Poll</button>
    </form>
  </main>
  

<%- include('../partials/footer.ejs') %>
